<h2>GetTimeRecord</h2>
<div><div> Email ID</div><div><input  #emailval type="text"/></div><button (click)="getDetails()" class="btn">Submit</button></div>

<div>
    <p>Result</p>
    <h2>{{result}}</h2>
</div>

<h2>SaveTimeRecord</h2>
<div><div> Email ID</div><div><input type="text"/></div>
<div><div>Work Start Time</div><div><input type="text"/></div>
<div><div> Work End TIme</div><div><input type="text"/></div>
<button (click)="postDetails()" class="btn">Submit</button></div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->